<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if title %}
    <title>{{title}}</title>
  {% else %}
    <title>My application</title>
  {% endif %}
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/static/css/custom.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Fascinate' rel='stylesheet' type='text/css'>
</head>
<body>

  <div id="wrap">
    {% include 'header.html' %}
    <div class="container">
          {% block content %}{% endblock %}
    </div> <!-- container-fluid -->
    <div id="push"></div>
  </div> <!-- wrap id -->

  {% include 'footer.html' %}

  <!-- jQuery via Google + local fallback, see h5bp.com -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="static/js/jquery-1.8.0.min.js"><\/script>')</script>
  <script src="/static/js/bootstrap.js"></script>
</body>
</html>
