<div class="container">
  <div class="row extra">
    <div class="span8 offset2">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="https://github.com/albertogg/flask-bootstrap-skel">Github</a></li>
          <li><a href="http://flask.pocoo.org/">Flask docs</a></li>
          <li><a href="http://twitter.github.com/bootstrap/index.html">Twitter-bootstrap</a></li>
          <li><a href="http://docs.sqlalchemy.org/en/rel_0_8/">SQLAlchemy docs</a></li>
        </ul>
        <h3 class="muted">Flask-bootstrap</h3>
      </div> <!-- masthead -->
      <hr> <!-- little division line -->
    </div> <!-- span -->
  </div> <!-- row -->
</div> <!-- container -->
