html, body {
  height: 100%;
}

.extra {
  padding-top: 20px;
  padding-bottom: 40px;
}

.centered {
  text-align: center;
  padding-bottom: 40px;
}

.fascinate-font {
  font-family: 'Fascinate', cursive;
  text-align: center;
  padding-bottom: 20px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100;
  margin: 0 auto -90px;
}

#push, #footer {
  height: 90px;
}

#footer {
  background: none;
}
